* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #2454cb;
  --color-bg-alt: #27658b;
  --color-text: #0c0f0a;
  --color-text-white: #fff;
  --color-link: #122888;
  --color-link-alt: #0f31c9;
}

body {
  text-align: center;
  background: linear-gradient(180deg, rgba(36,84,203,1) 0%, rgba(39,101,139,1) 100%);
  display: flex;
  justify-content: center;
  color: var(--color-text-white);
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
}

main{
  margin: 2rem 10vw 3rem 10vw;
}

h1{
  background: url("../img/Text_bg_img.jpg");
  background-clip: text;
  color: transparent;
}

#top-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 3.5rem -5rem 2rem;
}

#top-header a {
  background-color: var(--color-link);
  padding: 5px;
}

#summary{
  backdrop-filter: blur(10px);
}

footer {
  bottom: 0;
  margin: 2rem 6rem;
}

#personal-summary{
  backdrop-filter: blur(10px);
  font-size: 1.2rem;
}

#move a{
  padding: 1rem 1.5rem;
  background-color: var(--color-link-alt);
}

#simple-info{
  display: grid;
  grid-template-columns: 1fr;
}

#img-container {
  margin: 1rem 1rem;
  backdrop-filter: blur(10px);
}

#video-container{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

#video-container embed{
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;
}

#simple-info #list{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  backdrop-filter: blur(10px);
}

h2{
  background: url("../img/Text_bg_img.jpg");
  background-clip: text;
  color: transparent;
  font-size: 1.75rem;
  font-weight: bold;
  margin: 1rem 0;
}

#report{
  margin-bottom: 3rem;
}

#report h3{
  font-size: 1.5rem;
  font-weight: bold;
}

#paragraph{
  margin: 1.5rem 0;
  backdrop-filter: blur(10px);
}

#project-images{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

#move a {
  padding: 1rem 1.5rem;
  background-color: var(--color-link);
}

#sub-name{
  font-size: 1rem;
}

#list{
  display: flex;
  flex-direction: column;
}

#list ul{
  margin-bottom: 2rem;
}

#link{
  padding: 5px;
  background-color: var(--color-link);
}

@media screen and (min-width: 1200px ){
  main{
    margin: 2rem 25vw 3rem 25vw;
  }

  #simple-info{
    grid-template-columns: 1fr 1fr;
    margin: 0rem -15vw;
  }

  #personal-summary{
    font-size: 1.2rem;
  }

  #img-container{
    max-width: 100%;
  }

  #project-images{
    grid-template-columns: 1fr 1fr;
    margin: 0rem -10vw;
  }
}

@media screen and (min-width: 1921px){
  main{
    margin: 2rem 30vw 3rem 30vw;
  }

  #top-header{
    margin: 3.5rem -25vw 2rem;
  }
}

@media screen and (max-width: 420px){
  main{
    margin: 2rem 3vw 3rem 3vw;
  }

  #personal-summary{
    font-size: 1rem;
  }

  #project-images{
    font-size: 1.1rem;
  }

  #top-header{
    margin: 3.5rem 0 2rem;
  }

  #list{
    margin-bottom: 1rem;
  }
}